<form class="delete" action="/delete" method="POST">
<h1>If you delete you will lose your info</h1>

  <label for="psw"><b>Password</b></label>
      <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="Delete account">
</form>
<% if flash[:error]%>
  <%= flash[:error]%>
<%end%>