<% if  @posts != nil%>
  <% for post in @posts.reverse %>
  <div class="post">
    
    <div id="posts">
    <h3>Title:   <%= post.title %></h3>
    <h2>Content:  <%= post.body %></h2>
    </div>
    <p>Created by  <%= post.user.firstname  %></p>
    <p> at  <%= post.time%></p>
   
  </div>
  <% end %>
  <% end %>