<div id='first'>
<div>
<h1>Welcome to Rumbler</h1>

</div>
<div id='im'>
<img src='image/welcome.jpg'>
</div>
<div class="fr">



<div class="button1"><a href="/signup">Sign Up</a></div>
<div class="button2"><a href = "/login">Login</a></div>


</div>
</div>
<style>
#im img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#first{
    margin:0;
   margin-top: -21px;
   background-image: url("/image/first.png") ; 
}
.fr{
    padding:8px;
    display: grid;
    grid-template-columns:100px 100px;
    
    grid-gap:148px;
    justify-content:center;
    height:100vh;
}
.button1 {
  background-color: #db3056;

  padding: 14px 20px;
  margin: 8px -40px;
  border: none;
  cursor: pointer;
  width: 210px;
  opacity: 0.9;
  text-align: center;
  height:54px;
}
.button2 {
  background-color: #4CAF50;

  padding: 14px 20px;
  margin: 8px -57px;
  border: none;
  cursor: pointer;
  width: 210px;
  opacity: 0.9;
  text-align: center;
  height:54px;
}
.button1 a{
    text-decoration:none;
      color: white;
}
.button1:hover {
  opacity:1;
}
.button2 a{
    text-decoration:none;
      color: white;
}
.button2:hover {
  opacity:1;
}
</style>