<!DOCTYPE html>
<html>
<head>
<title></title>
 <link rel="stylesheet" href="<%= url('/main.css') %>">
 
</head>
<body>
<nav class="nav">
<div>
 <img src='/image/logo.png' width=57px height=57px>
</div>
     <% if session[:user_id] %>

      
      <div class="navbar">
        <nav><a href='/profile/<%=@lastname%>'>Profile</a></nav>
        <nav><a href='/post'>Post</a></nav>
        <nav><a href='/feed'>Feed</a></nav>
        <nav><a href="#info">Account INFO</a></nav>
        <nav><a href="#contact">Change Password</a></nav>
        <nav><a href="/logout">logout</a></nav>
       
      </div>

     <%end%>
  </div>
</nav>
<%= yield %>
 

</body>
</html>
<%# 
<div  id = 'top'>
  <img class=logo src=''>
<h1>Rumbler</h1>
</div>
<div>
<h2><a href='/feed'>Home</a></h2>

</div> %>