












<div class="logins">
<form class="login" action="/login" method="POST">
<h1>Sign in</h1>
  <label for="uname"><b>Username</b></label>
     <input type="text" name="username" placeholder="username"> <br>
  <label for="psw"><b>Password</b></label>
      <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="login">
</form>
<div class="signif"><p class="">Don't have an account? <a href="/signup">Sign up</a></p></div>
</div>

<% if flash[:error]%>
  <%flash[:error]%>
<%end%>