
  <h1> posts, <%= @user.firstname%></h1>
<form action='/feed' method="post">
   <input type="text"  placeholder="Title"  name="title"><br>
   <input type="text"  placeholder="Content" name="body"><br>
  <input type="submit" value="Submit">
</form>



<style>



</style>