<head> 
    <link rel="stylesheet" href="main.css">
</head>

<body>
<div></div>
<div></div>
<div></div>
<div></div>

<nav>
<a href="/logout">Log Out</a>

</nav>
<h1> Welcome, <%= @user.firstname%></h1>
</body>